<div class="app-container">
    <jhi-navbar></jhi-navbar>

    <div class="main-content">
        <div class="container-fluid">
            <div class="card jhi-card">
                <jhi-breadcrumb></jhi-breadcrumb>
                
                <div class="view-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

        <div class="loading-indicator" *ngIf="loading">
            <div class="spinner"></div>
            <span>{{ 'global.loading' | translate }}</span>
        </div>

        <jhi-footer></jhi-footer>
    </div>

    <!-- Toast Container for Notifications -->
    <div class="toast-container">
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div> 