<div class="jh-user-management-container">
    <div class="jh-user-management-header">
        <h2 jhiTranslate="userManagement.home.title">Users</h2>
        <a class="jh-user-management-create" routerLink="new">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="userManagement.home.createLabel">Create a new user</span>
        </a>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="jh-user-management-table" aria-describedby="users">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
                    <th scope="col" jhiSortBy="id">
                        <span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="login">
                        <span jhiTranslate="userManagement.login">Login</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="email">
                        <span jhiTranslate="userManagement.email">Email</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                    <th scope="col" jhiSortBy="langKey">
                        <span jhiTranslate="userManagement.langKey">Lang Key</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="userManagement.profiles">Profiles</span>
                    </th>
                    <th scope="col" jhiSortBy="createdDate">
                        <span jhiTranslate="userManagement.createdDate">Created Date</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="lastModifiedBy">
                        <span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="lastModifiedDate">
                        <span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td>
                        <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
                    </td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <span class="activated" [class.true]="user.activated" [class.false]="!user.activated">
                            {{ user.activated ? 'Activated' : 'Deactivated' }}
                        </span>
                    </td>
                    <td>{{ user.langKey }}</td>
                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span class="badge bg-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{ user.createdDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td>{{ user.lastModifiedBy }}</td>
                    <td>{{ user.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td class="jh-user-management-actions">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['./', user.login, 'view']"
                                    class="btn btn-view">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['./', user.login, 'edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-edit">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="button" (click)="deleteUser(user)"
                                    class="btn btn-delete"
                                    [disabled]="!user.activated">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="pagination">
            <ngb-pagination
                [collectionSize]="totalItems"
                [(page)]="page"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="transition()"
            >
            </ngb-pagination>
        </div>
    </div>
</div> 